{%extends "base.html"%}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content%}
<div class="container">
    <div class="row">
        
    </div>
</div>
    <!-- {% for pitch in pitches%}
    <div>
       <h3> Pitches </h3>
       <div class=" container tab-pane fade" id="pitches">
        {{macro.displayPitch(pitches.category)}}
    </div>
       <div class=" container tab-pane fade" id="motivation">
           {{macro.displayPitch(motivation.category)}}
       </div>
       <div class=" container tab-pane fade" id="promotion">
        {{macro.displayPitch(promotion.category)}}
    </div>
     <div class=" container tab-pane fade" id="religion">
           {{macro.displayPitch(religion)}}
       </div>
        <div class=" container tab-pane fade" id="technology">
           {{macro.displayPitch(technology.category)}}
       </div>
    </div>
    {%endfor%} -->

{%endblock%}
