{%extends "base.html"%}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content%}
<div class="container">

    <div class="row">
        <div class="card">
            <div class="card-body">
                <h3>One Minute Impression </h3>
                <p>In life, you only have 60 seconds to impress someone. 1 minute can make or break you. <br>
                     How do we make sure that you use your 1 minute to actually say something meaningful?</p>

                     <h3>Use a minute to create a Pitch to impress someone Or View already Existing pitches</h3>
                <button type="button "> <a href="{{url_for('main.pitches')}}"></a> Create pitch</button>
                <button type="button"> <a href="{url_for('main.existing_pitch')}}"></a> Check Existing pitches</button>
            </div>

        </div>
    </div>
</div>
{%if pitches%}
    {% for pitch in pitches%}
    <div>
       <h3> Pitches </h3>
       <div class=" container tab-pane fade" id="pitches">
        {{macro.displayPitch(pitches)}}
    </div>
       <div class=" container tab-pane fade" id="motivation">
           {{macro.displayPitch(motivation)}}
       </div>
       <div class=" container tab-pane fade" id="promotion">
        {{macro.displayPitch(promotion)}}
    </div>
     <div class=" container tab-pane fade" id="religion">
           {{macro.displayPitch(religion)}}
       </div>
        <div class=" container tab-pane fade" id="technology">
           {{macro.displayPitch(technology)}}
       </div>
    </div>
    {%endfor%}
    {%endif%}

{%endblock%}
