{%extends "base.html"%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content%}
<div class="container">

    <div class="row">
        <div class="card">
            <div class="card-body">
                <h3>One Minute Impression </h3>
                <p>In life, you only have 60 seconds to impress someone. 1 minute can make or break you. <br>
                     How do we make sure that you use your 1 minute to actually say something meaningful?</p>

                     <h3>Use a minute to create a Pitch to impress someone Or View already Existing pitches</h3>
                <button type="button "> <a href="{{url_for('main.create_pitch')}}"></a> Create pitch</button>
                <button type="button"> <a href="{url_for('main.existing_pitch')}}"></a> Check Existing pitches</button>
            </div>

        </div>
    </div>
</div>

    {% for pitch in pitch%}
    <div class="col-md-4">
    <div class="card">
        <div class="card-body bg-danger height = 100px" >
       <h5>{{pitch.category}} </h5>
       <p> {{pitch.content}} </p> <b>posted by  </b>

       </div>
       </div>
    </div>
    {%endfor%}
 

{%endblock%}
